
.menuInfo {
    /*display:inline-block;*/
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size:20px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color:#505050;

}

.errorMessage {
    position:absolute;
    top:28%;
    left:0%;
    width:100%;

    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FF0000;
}

.nextButton {
    /* shape */
    width: 35%;
    height: 5%;
    border-radius: 20px;

    background: #F1AF23;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* position */
    position: absolute;
    top:88%;
    left:58%;

    /* font */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.beforeButton{
    /* shape */
    width: 35%;
    height: 5%;
    border-radius: 20px;

    background: #C7C7C7;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* position */
    position: absolute;
    top:88%;
    left:12%;

    /* font */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.inputBox {
    /* shape */
    box-sizing: border-box;
    width: 70%;
    height: 7%;
    border: 0px;
    border-bottom: 2px solid #C7C7C7;

    /* position */
    position: absolute;
    top: 20%;
    left: 1%;

    /* font */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #DF872D;
}

.inputPass{
    box-sizing: border-box;
    width: 70%;
    height: 7%;
    border: 0px;
    border-bottom: 2px solid #C7C7C7;

    /* position */
    position: absolute;
    top: 20%;
    left: 1%;

    /* font */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #DF872D;
    -webkit-text-stroke-width: 0.5em;
    letter-spacing: 0.5em;
}

#check_password_modal_sheet .inputBox {
    /* shape */
    box-sizing: border-box;
    width: 70%;
    height: 7%;
    border: 0px;
    border-bottom: 2px solid #C7C7C7;

    /* position */
    position: absolute;
    top: 20%;
    left: 15%;

    /* font */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #DF872D;
}

#check_password_modal_sheet .inputPass{
    box-sizing: border-box;
    width: 70%;
    height: 7%;
    border: 0px;
    border-bottom: 2px solid #C7C7C7;

    /* position */
    position: absolute;
    top: 20%;
    left: 15%;

    /* font */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #DF872D;
    -webkit-text-stroke-width: 0.5em;
    letter-spacing: 0.5em;
}